{% extends 'base.html.twig' %}

{% block title %}New Service{% endblock %}
{% block page_title %}Create Service{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Custom Service Form CSS -->
    <link rel="stylesheet" href="{{ asset('style/css/SERVICE/service-new.css') }}">
{% endblock %}

{% block body %}
<div class="page-header">
    <h1>Create New Service</h1>
    <p>Fill in the details below to add a new service to your catalog</p>
</div>

<div class="form-container">
    {{ form_start(form, {'attr': {'class': 'service-form'}}) }}
        {{ form_widget(form) }}
        <div class="form-actions">
            <a href="{{ path('app_services_index') }}" class="back-link">
                <span class="back-icon">←</span> Cancel
            </a>
            <button class="btn" type="submit">
                <span>{{ button_label|default('Create Service') }}</span>
            </button>
        </div>
    {{ form_end(form) }}
</div>
{% endblock %}
