{% extends 'base.html.twig' %}

{% block title %}Create New Client{% endblock %}
{% block page_title %}New Client{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('style/css/CLIENT/client-new.css') }}">
{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Create New Client</h1>
        <p>Add a new client to your system</p>
    </div>

    <div class="form-container">
        {{ form_start(form, {'attr': {'class': 'client-form'}}) }}
            {{ form_widget(form) }}
            <div class="form-actions">
                <a href="{{ path('app_client_index') }}" class="back-link">
                    <span class="back-icon">←</span> Cancel
                </a>
                <button type="submit" class="btn-create">Create Client</button>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
