{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('style/css/ORDER/order-show.css') }}">
{% endblock %}

{% block body %}
    <h1>Order</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>Client Name</th>
                <td>{{ order.clientName }}</td>
            </tr>
            <tr>
                <th>Client Email</th>
                <td>{{ order.clientEmail }}</td>
            </tr>
            <tr>
                <th>Order Date</th>
                <td>{{ order.orderDate ? order.orderDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ order.status }}</td>
            </tr>
            <tr>
                <th>Total Price</th>
                <td>{{ order.totalPrice }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ order.notes }}</td>
            </tr>
            <tr>
                <th>Delivery Date</th>
                <td>{{ order.deliveryDate ? order.deliveryDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="actions">
        <a href="{{ path('app_order_index') }}" class="btn btn-secondary">
            ← Back to list
        </a>

        <a href="{{ path('app_order_edit', {'id': order.id}) }}" class="btn btn-primary">
            Edit
        </a>
    </div>
{% endblock %}
